html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, p {
    margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: block; }

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 1px;
  margin-top: 5px;
  padding: 5px;
}
input[type="text"],
input[type="password"] {
  height: 30px;
}
input[type="submit"],
button[type="submit"] {
  font-size: 14px;
  height: 40px;
}


.select-style {
    /*height: 30px;*/
    margin-top: 5px;
    border: 1px solid #cfcfcf;
    border-radius: 1px;
    overflow: hidden;
    background: #fff url("../img/arrow-down.png") no-repeat 98% 50%;
}
.select-style select {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.select-style select:focus {
    outline: none;
}
.txt-center {
    text-align: center;
}
.txt-big{
    font-size: 26px;
}
.red {
    color: #ef5350;
}
.bold {
    font-weight: bold;
}
.freeze {
  overflow: hidden;
}
#wrapper {
  overflow: hidden;
}
#status-bar {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#pages {
    position: relative;
    left: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.page-wrapper {
  height: 100%;
}
.page {
    width: 50%;
    height: 100%;
    overflow: auto;
    float: left;
}
.container {
    padding: 15px 8px;
}
.logo {
    text-align: center;
    line-height: 114px;
    position: relative;
}
.logo img {
    vertical-align: middle;
    height: 74px;
}
.logo .header-link {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 5px;
  line-height: normal;
  font-size: 22px;
  color: #3B5998;
}
#jackpot{
    background: url(../img/top-background.jpg) center center no-repeat;
    background-size: cover;
    height: 111px;
    text-align: center;
}
#jackpot h2,
#result h3 {
    margin: 0;
}
#jackpot h2 {
    line-height: 45px;
    font-size: 26px;
    margin-top: 17px
}
#result {
    text-align: center;
}
#result h3 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 20px;
}
#result__history {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-bottom: 0
}
/*#result__history .number {
    background: #eeeeee;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
    margin: 0 1px;
    text-align: center;
    display: inline-block;

}*/
#result {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

#countdown__title {
    margin: 8px 0;
    font-size: 16px;
}
#time {
    text-align: center;
}
.time__block {
    display: inline-block;
    width: 20%;
    margin: 0;
}

.time__number {
    width: 100%;
    display: block;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}

.time__number:after {
    position: absolute;
    display: inline-block;
    content: ":";
    margin-left: 15%;
}
.time__block:last-child .time__number:after {
    content: "";
}
.time__unit {
    font-size: 16px;
    display: block;
}

#navigation {
    position: fixed;
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 2px solid rgba(0, 0, 0, .08);
    border-bottom: 2px solid rgba(0, 0, 0, .08);
    bottom: 0;
    background: #F9F9F9;
}

#navigation ul {
    margin: 0;
    padding: 0;
}
#navigation .item {
    width: 32%;
    list-style-type: none;
    height: 100px;
    text-align: center;
    display: inline-block;
    line-height: 12px;
}
.item__icon,
.item__title {
    display: inline-block;
}
.item__icon {
    width: 22px;
    height: 22px;
    margin-top: 6px;
}
.item__title {
    color: #929292;
    width: 100%;
    font-size: 10px;
}

#item__index {
    background: url(../img/menu-index.png) 50% 50% no-repeat;
}
#item__picking {
    background: url(../img/menu-picking.png) center center no-repeat;
}
#item__store {
    background: url(../img/menu-store.png) center center no-repeat;
}
#item__website {
  background: url(../img/menu-web.png) center center no-repeat;
}
#navigation .item.active .item__title {
    color: #2b6caf;
}
#navigation .item.active #item__index {
    background: url(../img/menu-index-active.png) 50% 50% no-repeat;
}

#navigation .item:focus #item__picking {
    background: url(../img/menu-picking-active.png) center center no-repeat;
}

#navigation .item.active #item__store {
    background: url(../img/menu-store-active.png) center center no-repeat;
}

#navigation .item.active #item__website {
    background: url(../img/menu-web-active.png) center center no-repeat;
}

/* ---------pop up----------------- */
/* .popup {
  position: fixed;
  width: 100%;
  max-height: 700px;
  height: calc(100% - 40px);
  top: 39px;
  right: 0;
  background: rgba(0, 0, 0, .85);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.popup.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.popup__inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  position: relative;
  background: white;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.popup__close {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  width: 25px;
  line-height: 25px;
  font-size: 20px;
  text-align: center;
  color: #363636;
  text-decoration: none;
}
.popup__left {
  width: 200px;
  float: left;
  background: url(/assets/img/pick-up/popup-left.jpg) center center no-repeat;
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
}
.popup__left--ul {
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
    text-align: justify;
}
.popup__left--item {
  color: white;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 20px;
}
.popup__left--item:last-child {
  margin-bottom: 0;
}
.popup__title {
  margin-bottom: 15px;
  margin-top: 0;
}
.popup__form {
  position: relative;
  width: 400px;
  float: left;
  padding: 30px 25px 100px 25px;
  margin-left: 200px;
  max-height: 100%;
  overflow: auto;
}
.popup__form label {
  color: #363636;
}

.popup__form .row {
  margin-top: 15px;
}
.popup__form .row:first-child {
  margin-top: 0px;
} */


/* -----------picking-------------------- */
/* .numbers {
  list-style-type: none;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.number {
  width: 20%;
  padding: 4px;
}
.number__btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  line-height: 50px;
  border: 2px solid #bebebe;
  vertical-align: middle;
  text-align: center;
  color: #bebebe;
  font-size: 32px;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.number__btn:hover
.number--active{
  background: #ef5350;
  border-color: #ef5350;
  color: white;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
} */

.btn {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 200px;
  border: 0;
}

.btn--square {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 40px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  width: 200px;
  border: 0;
}
.btn.blue,
.btn--square.blue {
  background-color: #12296c;
  color: white;
}
.btn.shadow--blue {
  box-shadow: 0px 12px 24px 0px rgba(57, 77, 134, 0.48);
  text-shadow: 0px 12px 24px rgba(57, 77, 134, 0.48);
  background-color: #12296c;
  color: white;
}
.btn.shadow--lightblue {
  box-shadow: 0px 12px 24px 0px rgba(44, 109, 177, 0.48);
  text-shadow: 0px 12px 24px rgba(44, 109, 177, 0.48);
  background-color: #2c6db1;
  color: white;
}
.btn.shadow--red {
  box-shadow: 0px 12px 24px 0px rgba(239, 83, 80, 0.48);
  text-shadow: 0px 12px 24px rgba(239, 83, 80, 0.48);
  background-color: #ef5350;
  color: white;
}
.btn.shadow--disabled {
  box-shadow: 0px 12px 24px 0px rgba(151, 148, 148, 0.48);
  text-shadow: 0px 12px 24px rgba(151, 148, 148, 0.48);
  background-color: #979494;
  color: white;
  cursor: default;
}
.btn--square.red {
  background-color: #ef5350;
  color: white;
}
/* .picking-add {
  float: right;
}
.picking-text {
  font-size: 24px;
  float: left;
}
#chosen-numbers {
  background-color: #f8f8f8;
  margin-top: 15px;
  width: 100%;
}
#chosen-numbers td {
  width: 100px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
#chosen-numbers tr td:first-child {
  font-weight: normal;
  font-size: 14px;
}

#chosen-numbers .btn-del {
  text-decoration: none;
  color: #c8c9c9;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
#chosen-numbers .null td {
  font-style: italic;
}
#total {
  text-align: right;
  margin-top: 15px;
  padding: 0 15px;
}
#total .txt-big {
  margin-left: 15px;
}
#checkout {
  margin-top: 15px;
} */

/* -------------History--------------- */

#result__history .number {
    width: 13vw;
    height: 13vw;
    background-color: #ffca28;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    line-height: 14vw;
    margin: 0 1px;
    text-align: center;
    display: inline-block;
    color: #fff;
}


/* .number {
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  line-height: 16vw;
  display: inline-block;
  font-size: 29px;
  box-shadow: 0px 6px 10px -3px #bb5d01;
  font-weight: bold;
  margin: 0 5px;
  background-color: #ffca28;
  color: #fff;
} */
.content-listnumber {
  /*margin: 20px auto 10px;*/
  z-index: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
#result__history .slick-list {
  padding-bottom: 5px;
}
#result__history .slick-arrow {
  position: absolute;
  top: 5vw;
  /*bottom: 50%;*/
  width: 9px;
  height: 15px;
  border: none;
  z-index: 999;
  color: transparent;
  opacity: .4;
}

#result__history .slick-arrow:hover {
  opacity: 1
}
#result__history .slick-arrow:focus {
  outline: 0;
}

#result__history .slick-arrow.slick-prev {
  background: url(../img/arrow_prev.png) center center no-repeat;
  background-size: 50%;
  left: 0;
}
#result__history .slick-arrow.slick-next {
  background: url(../img/arrow_next.png) center center no-repeat;
  background-size: 50%;
  right: 0;
}

.content-link {
  font-weight: bold;
  text-align: right;
}

/* -------------/History--------------- */

@media only screen and (min-width : 768px) and (max-width : 1024px)  {
  html {
    font-size: 24px
  }
  input[type="text"], input[type="password"] {
    height: 45px;
    font-size: 24px;
  }
  .select-style select {
    height: 45px;
    font-size: 24px;
  }
  input[type="submit"],
  button[type="submit"] {
    font-size: inherit;
    height: 60px;
  }
  .btn {
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
  }
  .btn--square {
    height: 60px;
    line-height: 60px;
    border-radius: 2px;
  }
  #jackpot {
    height: 200px;
  }

  .logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .logo img {
    height: 120px;
  }
  .logo .header-link {
    font-size: 35px;
    right: 20px;
    bottom: -15px;
  }

  #jackpot__info {
    margin-top: 50px;
    font-size: 20px
  }
  #jackpot h2 {
    margin-top: 17px;
    font-size: 40px;
  }

  #result h3 {
    font-size: 30px;
    line-height: 35px;
  }

  #result p {
    font-size: 20px;
  }

  /*#result__history .number {
    width: 90px;
    height: 90px;
    line-height: 87px;
    font-size: 40px;
  }*/
  #countdown {
    margin-top: 30px;
  }

  #countdown__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .time__number {
    font-size: 45px;
  }
  .popup__close {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}